
html{
	height: 100%;
}
body{
	font-family:'Poppins';
	height: 100%;
	color: #000;
	background-color: #f1f3f4;
}

.borda{
	border: 1px solid tomato;
}

.sidenav {
	height: 100%;
	width: 80px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #2b373f;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}

.sidenav a {
	text-decoration: none;
	margin: 0 auto;
	display: block;
	font-size:30px ;
	color: #5bf3c7;
}

.sidenav a:nth-child(2){
	padding-top: 10px;
}

.logo{
	width: 50px;
	padding-top: 10px;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.main {
	margin-left: 130px;
	margin-right: 50px;
	padding: 20px 30px;
	background-color: #FFF;
	margin-top: 60px;
	border-radius: 18px;
	box-shadow: 0 1px 24px 0 rgb(0 0 0 / 8%);

}

.main h3{
	color: #4f5659;
	font-size: 22px;
}

.main__ctn{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.main__ctn .card__ctn{
	width: 32%;
	padding: 20px;
	border:1px solid #d9dada;
	border-radius: 10px;
}

.card__title{
	font-size: 20px;
	color: #4f5659;
	display: flex;
	justify-content: space-between;
}

.card__body{
	margin-top: 20px;
	overflow-y: scroll;
	/*height: 30vw;*/
	height: 66vh;
}

.card__body__item{
	display: flex;
	justify-content: space-between;
	
}

.wrapper__error{
	display: flex;
}

.check__input{
	margin-right: 10px !important;
}

.item__resolved{
	background-color: #d0eae7;
	color: #1d9a8b;
	cursor: grab;
}
.item__unresolved{
	background-color: #fee5e5;
	color: #f05b54;
	cursor: grab;
}
.item__backlog{
	background-color: #e2edf9;
	color: #65a0e1;
	cursor: grab;
}

.badge__item{
	padding: 2px 8px;
	font-size: 15px;
	border-radius: 5px;
}
.card__body__item .badge__item{
	padding: 10px;
	margin: 5px 0;
	margin-right: 4px;
	border-radius: 10px;
	font-size: 13px;
}


.error__code{
	width: 44px;
	text-align: center;
}

.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgb(223 229 232);
    background-color: #ffffff;
}

.scrollbar::-webkit-scrollbar
{
	width: 5px;
	background-color: #dcdcdc;
}

.scrollbar::-webkit-scrollbar-thumb
{
	background-color: #c4c7ca;

}
button{
	font-size: 12px !important;
	font-weight: 500;
    padding: 2px 8px;
    border-radius: 5px;
    cursor: pointer !important;
    color: #FFF;
    text-align: center;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.btn__resolved{
	background-color: #2b373f;
	color: #57e7be;
}
.btn__unresolved{
	background-color: #2b373f;
	color: #57e7be;
}
.btn__backlog{
	background-color: #2b373f;
	color: #57e7be;
}

.card-header{
	display: flex;
	justify-content: space-between;
}

.btn__action{
	background-color: #2b373f;
	color: #57e7be;
	width: 40px;
	padding-left: 12px;
}

.btn__show{
	margin-right: 20px;
	background-color: #2b373f;
	color: #57e7be;
	cursor: pointer;
}




